@import '_normalize';
@import 'semantic-ui';
@import 'trumbowyg';
@import 'jquery.tagsinput';
@import '_theme';
body {
    font-size:16px;
    font-family: 'Open Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height:1.5;
    color: #555555
}
h1, h2, h3, h4, h5 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
code, kbd, pre, samp {
    font-family: 'Inconsolata';
}
code {
    border: solid 1px #e4e4e4;
    padding: 4px 4px 4px;
    background: #f5f7f8;
    font-size: 0.875em;
    line-height: 1.85714em;
    border-radius: 3px;
}
.website-header {
    padding-top: 16px;
    background: #444;
}
.website-name {
    color:#fff;
    text-shadow:0px 0px 4px rgba(0,0,0,.6);
}
.login-container {
    max-width:400px;
    margin:auto;
}
.forgot-password-link {
    float:right;
}
a {
    color: #008cba;
    text-decoration: none;
    line-height: inherit;
    h2.ui.header {
        color:#555;
    }
}
a:hover, a:focus {
    color: #007ba0;
}
.container {
    max-width:960px;
    margin:auto;
    padding:0px;
}

.pull-right {
    float:right;
}

.main.menu {
    top:0;
    min-width: 320px;
    z-index: 900;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    -ms-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}
.main-content {
    padding-top:43px;
}
.cms-created-at {
    font-size:.85em;
    white-space:nowrap;
}
.ui.dropdown.item.user-menu {
    padding: 0.37em .95em;
}
.banner-image {
    max-width:100%;
}
.ui.buttons.control-group {
    min-width: 120px;
}
.ui.attached.left.button.help {
    position:fixed;
    right:0;
    top: 50%;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html, body {
    height: 100%;
}
.main-content {
    min-height:100%;
    margin-bottom: -54px;
}
.main-content:after {
    display:block;
    content: "";
}
.site-footer,
.main-content:after {
    height:54px;
}
.sticky.menu.stuck {
    top:50px;
    position:fixed;
}
.ui.override.toggle.checkbox {
    font-size:.75em;
    float:right;
    user-select: none; 
}
.segment-collapse {
    cursor: pointer;
    position:absolute;
    top:10px;
    right: 10px;
    .hidden {
        display:none;
    }
}
.muted {
    color: #888888;
    font-size: .85em;
}
.m-pagelist .meta {
    position: absolute;
    top: 9px;
    right: 11px;
}
.m-pagelist .item {
    text-align: center;
}
.m-pagelist .extra {
    text-align: left;
}
.m-pagelist .item {
    text-align: center;
    min-height: 254px !important;
    margin-bottom: 4.25em !important;
}
.ui.dropdown.selection {
    font-size:12px;
    .item {
        font-size: 12px;
    }
}
.ui.basic.segment.pagehead {
    padding:0 0 1em;
    margin: 0 1em;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.blog-pager {
    margin-top:1em;
    .ui.pagination.menu .item {
        min-width:2em;
        font-size:.75rem;
    }
}
.ui.small.segment {
    font-size:.75em;
}
i.orange.icon {
    color:#de3427;
}
.ui.vertical.menu .item {
    font-size:.85rem;
}
.ui.image {
    height:auto;
    &.banner-image {
        margin:1em 0 2em;
        display:block;
    }
}
.articlebody {
    // text-align: justify;
    line-height: 1.625em;
    p {
        text-indent: 0;
        margin: 0 0 26px 0;
    }
    h2 {
        margin: 52px 0 26px 0;
        font-size: 28px;
        line-height: 1em;
    }
    h3 {
        margin: 26px 0 4px 0;
        font-size: 1.3125em;
        line-height: 1.2381em;
    }
    blockquote {
        margin: 26px 40px;
        font-style: italic;
        font-weight: 100;
        font-size: 1.3125em;
        line-height: 1.2381em;
        color: #7e7e7e;
        padding-left:20px;
        border-left: 5px solid rgba(0,0,0,.1);
    }
    .lead {
        font-size:21px;
        font-weight:200;
        line-height: 1.4;
        margin-bottom:20px;
    }
}
.ui.tiny.labels .label, .ui.tiny.label {
    font-size: 0.65rem;
    white-space:nowrap;
}
.hidden {
    display:none !important;
}
.cms-banner {
    cursor: pointer;
}
.trumbowyg-box, .editor {
    margin:0;
    border-radius:0.3125em;
    width:100%;
}
.trumbowyg-editor, .trumbowyg-textarea {
    width:100%;
}
div.trumbowyg-editor {
    color:rgba(0, 0, 0, 0.701961);
    // border:1px solid rgba(0, 0, 0, 0.15);
    line-height:1.33;
    box-shadow:0.3em 0em 0em 0em rgba(0, 0, 0, 0) inset;
    font-size:0.875em;
    border-bottom-right-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
    transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    padding: 0.85em 1.2em;
}
div.trumbowyg-editor:focus {
    color: rgba(0, 0, 0, 0.85);
    box-shadow:0.3em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    border-color:rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0;
    // border-top-left-radius: 0;
}
.trumbowyg-fullscreen {
    margin:44px 0 0 !important;

}
.trumbowyg-button-pane {
    background:#fff;    
    box-shadow:0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-top-left-radius:0.3125em;
    border-top-right-radius:0.3125em;
}
h1.ui.header.post-title {
    font-size:49px;
    line-height:1em;
}
aside.vertical.menu.blog-sidebar a.item.active{
    border-bottom-color:transparent !important;
}

.ui.inverted.tiered.menu .sub.menu {
    background-color:rgba(255,255,255,0.8);
    .item {
        color:#444;
    }
}
.postmeta {
    padding-left: 0px !important;
}
.trumbowyg-fullscreen .trumbowyg-editor {
    max-width: 700px;
    margin:auto;
    &:active,
    &:focus {
        box-shadow:0px 0px 0px #fff;
    }
}
.ui.segment.cms-pagehead {
    border-radius:0px;
}
.fortrabbit {
    font-family: Georgia,serif;
    font-weight: bold;
    font-style: italic;
    color: #333;
    text-transform: lowercase;
}
